<div>
        Greetings delegate(s)! This is to inform you that your registration has been
        successfully received. The Secretariat of JMIMUN 2019 would like to take this
        opportunity to extend a very warm welcome to you. Welcome to Jamia Millia Islamia International Model United Nations Conference 2019!
    </p>
    <p>
        <br>
        We request you to please note the following details pertaining to your application.
    </p>
</div>
<div id="card">
    <p>
        Registration Number : $rgn$<br>
        Password : $pwd$<br>
    </p>
</div>
<h2> Allotment Process</h2>
<div>
    After the current registration round is close, the Secretariat will review your applicationa and allot you a position in the committee 
    you have chosen, appropriate to your experience. Please note that the allotments are subject to availablity
    of seats and some applicants may not be alloted the committee or position that they registered for.
    <p>
        Once your allotment is confirmed (After the complettion of the round in which you are applying), and your payment
        is successful, you will be able to access your gatepass on our website. Remember, entry to the premises will only be granted after checking
        your gatepass and photo ID proof
    </p>
    <p>
        Thank you, and welcome to JMI international MUN 2019!
    </p>
    <p>
        Warm Regards,<br>
        The Secretariat,<br>
        JMI International MUN 2019
    </p>
</div>