{{>header }}

<section>
    <div>
        <h3>Registration Succesful</h3>

        <p>Your registration was succesful</p>
        <p>Your registration number is</p>
        <p><b>{{rgn}}</b></p>

        <br><br><br><br>

        JMIMUN 2019 <br>
        <a href="https://jmimun.net">Home</a>
    </div>
</section>

{{>footer}}