{{>header }}

<form action="/_unsc" method="POST">
    <section id="s1">
        THIS FORM IS FOR APPLICANTS TO THE "United Nations Security Council" COMMITTEE.<br>
        The UNHRC will be a double delegate committee wherein two people will represent a single country.<br>
        Please answer all questions honestly and to the full extent of your knowledge. The Secretariat reserves the right to cancel your selection if any of your answers are found to be deliberately false.
        <p>Consider following definitions while filling the "CATEGORY" column in the form.</p>
        <p>Domestic : Those participants who are residing and pursuing their education in India.<br>
        NRI ( Non Resident Indian ) : Indian citizens pursuing their education from abroad.<br>
        Foreign National : All Delegates who do not hold the Indian citizenship.</p>
        <p> REGISTRATION FEE DETAILS:<br>
         Rs. 1200 INR per delegate ( For Domestic Delegates )<br>
        $ 85 USD per delegate ( For NRI and Foreign national categories )
        </p>
        <p>Processes Involved :<br>
        1. Registration rounds are opened by the secretariat.<br>
        2. Applicant fills the registration form.<br>
        3. Registration round gets over .<br>
        4. Allotments of positions are done by the secretariat to the qualified applicants.<br>
        5. Applicants get a time slab of 3 days to log in to their portals and make the payment. As an applicant makes the  payment, their respective seats get booked and the respective committee and position gets confirmed.</p>
        <p>
            <br>For queries or questions, contact us at <a href="mailto:helpdesk@jmimun.net">helpdesk@jmimun.net</a>
        </p>
    </section>
    <section id="s2">
        <h2>Delegate 1 Details</h2>
        Delegate 1 Name <br>
        Please enter your FULL NAME in BLOCK LETTERS/CAPITAL LETTERS<br>
        <input type="text" name="name1"><br>
        Name of the Institution (Delegate 1)<br>
        Where do you study/work?<br>
        <input type="text" name="inst1"><br>
        Age (Delegate 1)<br>
        <select name="age">
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
        </select><br><br>
        Category (Delegate 1)
        <input type="radio" name="category1" value="Domestic">Domestic<br><br>
        <input type="radio" name="category1" value="NRI">NRI<br><br>
        <input type="radio" name="category1" value="Foreign National">Foreign National<br><br>
        Accommodation<br>
        <select name="accommodation1">
            <option value="yes">YES</option>
            <option value="no">NO</option>
        </select><br><br>
        Passport Number (Delegate 1)<br>
        Kindly provide your Passport number if you belong to the "NRI" or "Foreign National" category . NOTE : Domestic delegates need not provide their passport number. They should write "NA" in the space provided.<br>
        <input type="text" name="passport1"><br><br>
        Passport (Delegate 1)<br>
        Kindly upload the scanned copy of your passport on cloud storage (such as Google Drive) and provide the link in the space provided below. NOTE: Applicable only for "Foreign National" and "NRI" category delegates, others should write "NA".<br>
        <input type="text" name="passportURL1"><br><br>
        <h2>Delegate 2 Details</h2>
        Delegate 2 Name <br>
        Please enter your FULL NAME in BLOCK LETTERS/CAPITAL LETTERS<br>
        <input type="text" name="name2"><br>
        Name of the Institution (Delegate 2)<br>
        Where do you study/work?<br>
        <input type="text" name="inst2"><br>
        Age (Delegate 2)<br>
        <select name="age">
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
        </select><br><br>
        Category (Delegate 2)
        <input type="radio" name="category2" value="Domestic">Domestic<br><br>
        <input type="radio" name="category2" value="NRI">NRI<br><br>
        <input type="radio" name="category2" value="Foreign National">Foreign National<br><br>
        Accommodation<br>
        <select name="accommodation2">
            <option value="yes">YES</option>
            <option value="no">NO</option>
        </select><br><br>
        Passport Number (Delegate 2)<br>
        Kindly provide your Passport number if you belong to the "NRI" or "Foreign National" category . NOTE : Domestic delegates need not provide their passport number. They should write "NA" in the space provided.<br>
        <input type="text" name="passport2"><br><br>
        Passport (Delegate 2)<br>
        Kindly upload the scanned copy of your passport on cloud storage (such as Google Drive) and provide the link in the space provided below. NOTE: Applicable only for "Foreign National" and "NRI" category delegates, others should write "NA".<br>
        <input type="text" name="passportURL2"><br><br>
        Email<br>
        This email address will be the primary means of contact between the Secretariat and you. You will receive a confirmation email after completion of registration on this address.<br>
        <input type="text" name="email"><br><br>
        Phone/Contact Number<br>
        Please enter the full mobile number, i.e including the country code.<br>
        <input type="text" name="phone"><br><br>
         Campus Ambassador Referral Code (if any)<br>
        Only for those registering through a Campus Ambassador<br>
        <input type="text" name="campusAmbassador"><br><br>
<button type="button" onclick="showNext()">NEXT</button>
</section>
    <h2>Accommodation</h2>
    Accommodation for the two days of the conference is not covered in the delegate fees. There will be extra charges for accommodation about which the delegates who opt for it will be informed through E-mail .
<br><br>Travel expenses are NOT covered by JMI International MUN  under any circumstances.
//incomplete
</form>
