<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"/>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="padding: 2.5em;">
  {{{ body }}}
</body>

<script>
  function showNext() {
    var showEl, visibleInputElements, visibleGroupInputs, nextPageAllowFlag = true;
    // Check if required inputs are fulfilled and validate
    //let visibleQuestions = document.getElementById(showEl).getElementsByClassName("question");
    //for(let i=0; i<visibleQuestions.length; i++) {
    //  let inputElement;
    //  let currentInputGroupName, currentInputGroup;
    // for(let j=0; j<visibleQuestions[i].children.length; j++) {
    //    if(visibleQuestions[i].children[j].tagName==='INPUT') {
    //      if(visibleQuestions[i].children[j].required){
    //        if(visibleQuestions[i].children[j].value===null || visibleQuestions[i].children[j].value==='') {
    //          $(visibleQuestions[i]).addClass("error")
    //          nextPageAllowFlag = false;
    //        }
    //      }
    //    }
    //  }
    //}

    // let visibleRadioGroups = document.getElementById(showEl).getElementsByClassName("radio-group");
//     for(let i=0; i<visibleRadioGroups.length; i++) {
//       let inputElement;
//       let currentInputGroupName, currentInputGroup;
//       for(let j=0; j<visibleRadioGroups[i].children.length; j++) {
//         if(visibleRadioGroups[i].children[j].tagName==='INPUT') {
//           if(visibleRadioGroups[i].children[j].required){
//             if(visibleRadioGroups[i].children[j].value===null || visibleRadioGroups[i].children[j].value==='') {
//               $(visibleQuestions[i]).addClass("error")
//               nextPageAllowFlag = false;
//             }
//           }
//         }
//       }
//     }

//     if(visibleQuestions[i].children[j].type==='radio'){
//       if(currentInputGroupName===visibleQuestions[i].children[j].name){
//         currentInputGroup.push(visibleQuestions[i].children[j])
//       }
//       else {
//         if(currentInputGroupName!==undefined) {
//           let flareUpFlag = false;
//           for(let l=0; l<currentInputGroup.length; l++)
//             if(currentInputGroup[l].checked) flareUpFlag = true
          
//           if(!flareUpFlag) 
//             $(visibleQuestions[i]).addClass("error")
//             nextPageAllowFlag = false;
          
//           currentInputGroup = [];
//         }
//         currentInputGroup.push(visibleQuestions[i].children[j])
//         currentInputGroupName = visibleQuestions[i].children[j].name
//       }
//     }

    if(nextPageAllowFlag) {
      for(let i=1; i<=document.getElementsByTagName("section").length; i++){
        let el = 's' + i;
        if(document.getElementById(el).style.display=='block'){
          i++;
          showEl = 's' + i;
          document.getElementById(el).style.display = 'none';
          document.getElementById(showEl).style.display = 'block';
          document.documentElement.scrollTop = 0;
          break;
        }
      }
    }
  }

  function showPrev() {
    var showEl;
    for(let i=1; i<=document.getElementsByTagName("section").length; i++){
      let el = 's' + i;
      if(document.getElementById(el).style.display=='block'){
        i--;
        showEl = 's' + i;
        document.getElementById(el).style.display = 'none';
        document.getElementById(showEl).style.display = 'block';
        document.documentElement.scrollTop = 0;
        break;
      }
    }
  }
</script>

<style>
  .question {
    padding: 1em;
    transition: all 0.5s ease;
  } .question:active {
    background-color: #eee;
  } .question h5 {
    font-weight: 600;
  }
  .description {
    font-size: 0.85em;
  }
  .band {
    padding: 0.5em;
    margin: 1em 0;
    font-weight: 600;
    font-size: 1.25em;
  }
</style>
</html>